<h1> Giới thiệu </h1> 
<p> <a  href= 
  "http://www.railstutorial.org/"> < em> Ruby on Rails
  Hướng dẫn </em > </a> là một
   <a  href= "http://www.railstutorial.org/book"> sách </a> và
   <a href = "http://screencasts.railstutorial.org/ " > loạt video màn hình </a> 
  dạy phát triển web với
  <a  href= "http://rubyonrails.org/"> Ruby on Rails </a> .
  Đây là ứng dụng mẫu cho hướng dẫn.
</p>